@font-face {
    font-family: 'brandon_grotesquelight';
    src: url('../fonts/brandon-grotesque-light-webfont.woff2') format('woff2'),
         url('../fonts/brandon-grotesque-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'BrandonGrotesque-Regular';
  src: url('../fonts/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/BrandonGrotesque-Regular.woff') format('woff'), url('../fonts/BrandonGrotesque-Regular.ttf')  format('truetype'), url('../fonts/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesquemedium';
    src: url('../fonts/brandon-grotesque-medium-webfont.woff2') format('woff2'),
         url('../fonts/brandon-grotesque-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('../fonts/brandon-grotesque-bold-webfont.woff2') format('woff2'),
         url('../fonts/brandon-grotesque-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesqueblack';
    src: url('../fonts/brandon-grotesque-black-webfont.woff2') format('woff2'),
         url('../fonts/brandon-grotesque-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}